@import url('http://fonts.cdnfonts.com/css/mellow-yellow');

body {
    margin-left: 10%;
    margin-top: 0%;
    margin-right: 10%;
    margin-bottom: 0%;
    color: white;
    
}


#logo {
    width: 20%;
    height: 20%;
    margin-left: 40%;
    margin-bottom: 5%;
}

.text-muted {
    padding: 10%;
}

.navbar {
    color: white;
    margin-left: 40%;
    margin-right: 5%;
    width: 90%;
    font-family: 'Courier New', Courier, monospace;
    display: inline;
    text-decoration: none;
}

.nav-item {
    margin-left: 41%;
    margin-right: 5%;
    width: 80%;
    white-space: nowrap;
    font-family: 'Mellow Yellow', sans-serif;
    
    font-size: 450%;
    color: black;
    text-decoration: none;
    text-align: center;
}

#navbarSupportedContent {
    width: 100%;
    float: right;
}

a{
    text-decoration:none;
    }

 ​.nav-item:visited
    {
       color: black;
    }

.nav-item:link
{
    color: black;
}

*{ color: black;  text-decoration: none ; }




