body {
    margin-left: 10%;
    margin-top: 0%;
    margin-right: 10%;
    margin-bottom: 0%;
    color: white;
    
}

#logo {
    width: 20%;
    height: 20%;
    margin-left: 40%;
    margin-bottom: 5%;
}

.text-muted {
    padding: 10%;
}

.navbar {
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    font-family: 'Courier New', Courier, monospace;
    display: inline;
    
}

.nav-item {
    margin-left: 40%;
    margin-right: 15%;
    font-family: 'Courier New', Courier, monospace;
    display: inline;
    font-size: xx-large;
    color: black;
    text-decoration: none;
}

#navbarSupportedContent {
    width: 100%;
    float: right;
}

a{
    text-decoration:none;
    }





