<div id="describe">
    <p>
    Wszelkie uwagi i komentarze oraz zamówienia prosimy kierować na adres e-mail: <br>
psiaparka@gmail.com <br>
Znajdziesz nas również tutaj: <br>
</p>
</div>
<div>
<a target="_blank" href="https://www.facebook.com/sabina.kobek"><img src="assets/img/logo facebook.png" class="rounded float-left" alt="..."></a>
<a target="_blank" href="https://www.instagram.com/skobekilkow/"><img src="assets/img/logo instagram.png" class="rounded float-right" alt="..."></a>
</div>
<a class="sm-brand" target="_blank" href="assets/FORMULARZ ODSTAPIENIA OD UMOWY.pdf">
    <img src="assets/img/pdf.png" width="40" height="40" alt="Miedzymorze" title="Formularz odstąpienia od umowy">
  </a>
