<div id="describe">
    <p>
    Wszelkie uwagi i komentarze oraz zamówienia prosimy kierować na adres e-mail: <br>
psiaparka@gmail.com <br>
Znajdziesz nas również tutaj: <br>
</p>
</div>
<div>
<a target="_blank" href="https://www.facebook.com/intermarism/?ref=pages_you_manage"><img src="assets/img/logo facebook.png" class="rounded float-left" alt="..."></a>
<a target="_blank" href="https://www.facebook.com/intermarism/?ref=pages_you_manage"><img src="assets/img/logo instagram.png" class="rounded float-right" alt="..."></a>
</div>
