<div class="card-deck">
  <img src="assets/img/psiaparka_gliwice_moskaphotography.com-2.jpg" class="rounded float-left" alt="...">
  <img src="assets/img/psiaparka_gliwice_moskaphotography.com-3.jpg" class="rounded float-right" alt="...">
  </div>
  <div id="describe">
    <h1>PSIA PARKA</h1>
    <p>
      PSIA PARKA została stworzona z miłości do psów, wszelkiej rasy i maści, <br>
      od malutkich shih tzu do wielkich dogów.<br>
      Kierując się pasją pragneliśmymy stworzyć grę nie tylko atrakcyjną wizualnie, <br>
      ale przede wszystkim angażującą, rozwijającą<br>
      pamięć, spostrzegawczość i zdolności koncentracji. <br>
      <br>
      Gra dedykowana jest młodszym dzieciom i ich rodzicom, dziadkom, opiekunom, starszemu rodzeństwu, młodzieży, słowem każdemu. <br>
      PSIA PARKA to gra typu memory składająca się z pięknie ilustrowanych kafli, przedstawiających pociesznych czworonogich przyjaciół<br>
      człowieka. W klasycznej wersji tej gry celem jest połączenie w pary ilustracji, natomiast my proponujemy alternatywne warianty<br>
      rozgrywki o zróżnicowanym stopniu trudności. <br>
      <br>
      Warianty gry: <br>
      - Psia Parka - klasyczna wersja memory<br>
      - Do mnie ! <br>
      - Gdzie jest Burek?<br>
      - Reksio dał nogę<br>
      - Aport! <br>
      - Do szeregu stań! <br>
      <br>
      w zestawie: 28 drewnianych kafli z nadrukiem UV, ulotka z instrukcją i zasadami gry, <br>
      woreczek na przechowywanie gry<br>
      <br>
      liczba graczy: 2-4 osób<br>
      wiek graczy: 4 - 99<br>
      wielkości pudełka: 285x140x70 mm<br>
      <br>
      projekt graficzny i ilustracje : Sabina Kobek- Ilków<br>
      opracowanie gry: Mateusz Ilków<br>
      <br>
      zdjęcia : Moska Photography<br>
      modele: Kalina, Milena, Tiago<br>
      <br>
      cena: 85 zł<br>
</p>
<img src="assets/img/psiaparka_gliwice_moskaphotography.com-2.jpg" class="rounded float-left" alt="...">
  <img src="assets/img/psiaparka_gliwice_moskaphotography.com-3.jpg" class="rounded float-right" alt="...">
  <img src="assets/img/psiaparka_gliwice_moskaphotography.com-2.jpg" class="rounded float-left" alt="...">
  <img src="assets/img/psiaparka_gliwice_moskaphotography.com-3.jpg" class="rounded float-right" alt="...">
  <img src="assets/img/psiaparka_gliwice_moskaphotography.com-2.jpg" class="rounded float-left" alt="...">
  <img src="assets/img/psiaparka_gliwice_moskaphotography.com-3.jpg" class="rounded float-right" alt="...">
  <img src="assets/img/psiaparka_gliwice_moskaphotography.com-2.jpg" class="rounded float-left" alt="...">
  <img src="assets/img/psiaparka_gliwice_moskaphotography.com-3.jpg" class="rounded float-right" alt="...">
  <img src="assets/img/psiaparka_gliwice_moskaphotography.com-2.jpg" class="rounded float-left" alt="...">
  <img src="assets/img/psiaparka_gliwice_moskaphotography.com-3.jpg" class="rounded float-right" alt="...">
  </div>
