<div class="card-deck">
    <div class="card">
       <img class="card-img-top" src="assets\img\psiaparka_gliwice_moskaphotography.com-13.jpg" height="350" alt="Card image cap">
       <div class="card-body">
           <h5 class="card-title">Produkt 1</h5>
             <p class="card-text">Opis 1</p>
         <a routerLink="/show/0" class="btn btn-primary">Kup</a>
    </div>
  </div>
    <div class="card">
      <img class="card-img-top" src="assets\img\psiaparka_gliwice_moskaphotography.com-11.jpg" height="350" alt="Card image cap">
         <div class="card-body">
         <h5 class="card-title">Produkt 2</h5>
          <p class="card-text">Opis 2</p>
        <a routerLink="/show/1" class="btn btn-primary">Kup</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets\img\psiaparka_gliwice_moskaphotography.com-10.jpg" height="350" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Produkt 3</h5>
              <p class="card-text">Opis 3</p>
          <a routerLink="/articles" class="btn btn-primary">Kup</a>
     </div>
  </div>
