<div class="card-deck">
    <div class="card">
       <img class="card-img-top" src="assets\img\psiaparka_gliwice_moskaphotography.com-13.jpg" height="350" alt="Card image cap">
       <div class="card-body">
           <h5 class="card-title">Produkt 1</h5>
             <p class="card-text">Opis 1</p>
         <a routerLink="/show/0" class="btn btn-primary">Kup</a>
    </div>
  </div>
    <div class="card">
      <img class="card-img-top" src="assets\img\psiaparka_gliwice_moskaphotography.com-11.jpg" height="350" alt="Card image cap">
         <div class="card-body">
         <h5 class="card-title">Produkt 2</h5>
          <p class="card-text">Opis 2</p>
        <a routerLink="/show/1" class="btn btn-primary">Kup</a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets\img\psiaparka_gliwice_moskaphotography.com-10.jpg" height="350" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Produkt 3</h5>
              <p class="card-text">Opis 3</p>
          <a routerLink="/articles" class="btn btn-primary">Kup</a>
     </div>
  </div>
  <div>
    Ona - miłośniczka sztuki, On- miłonik gier planszowych, \par
jest i czworonogi przyjaciel kt\'f3ry sprawi\'b3, \'bfe ich pasje si\'ea po\'b3\'b9czy\'b3y. \par
Brzmi jak fabu\'b3a jakiego\'9c serialu ? By\'e6 mo\'bfe !\par
Cze\'9c\'e6 i Hau ! Witaj na naszej stronie. Je\'bfeli tutaj jeste\'9c to znaczy, \'bfe zainteresowa\'b3a Ci\'ea stworzona przez nas gra.\par
To nasz pierwszy wsp\'f3lny produkt i cieszymy si\'ea na my\'9cl, \'bfe uda\'b3o nam si\'ea go urzeczywistni\'e6, maj\'b9c na uwadze ile rado\'9cci sprawi\'b3o \par
stworzenie go od koncepcji po wydruk.\par
Musimy podkre\'9cli\'e6, \'bfe czworonogi przyjaciel zdominowa\'b3 ca\'b3y nasz \'9cwiat, pokochali\'9cmy d\'b3ugie spacery i wieczorne przytulasy. \par
To on sprawi\'b3, \'bfe taki pomys\'b3 urodzi\'b3 si\'ea z naszej g\'b3owie.\par
\par
Witamy Was ciep\'b3o !\par
Sabina - Mateusz - Tiago\par
  </div>
